@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
html {
  height: 100%;
  padding: 2px;
}

.stdCtr.entry {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: auto;
}

.stdCtr.game {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 70px auto 0;
}

.stdBtn.validate {
  margin: auto;
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 20px;
}

/* Modal Content/Box */
.modal-content {
  padding: 30px 0 30px 0;
  background-color: #ffffff;
  top: 15%;
  margin: auto;
  border: 1px solid #888;
  border-radius: 20px;
  max-width: 1200px;
  min-height: 500px;
  max-height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
  animation: modal-enter 1s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.modal-content form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-content form input {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  size: 0px;
}

.gameStats {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 400px;
}
.gameStats h2 {
  margin-top: 20px;
}
.gameStats p {
  margin-left: 10px;
  margin-top: 5px;
}

.lost-game {
  background-color: #fcb4b4 !important;
}

.won-game {
  background-color: #ccffd1 !important;
}

@keyframes modal-enter {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.repCharsSelector {
  width: 100%;
  text-align: center;
  border: 1px solid #b9b9b9;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}

.stdCtr.settings {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.settingsBox {
  width: 100%;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: start;
}

.optionsTxt {
  width: 100%;
  font-size: 25px;
  color: #8a8a8a;
  flex: 0;
}

.wordLengthSelector {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}

.wordLengthBtn {
  background-color: #2b2b2b !important;
  color: white !important;
}

.dropdown-menu.show {
  min-width: inherit;
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 40px;
}

.dropdown-toggle {
  width: 60px;
}

.inputWL {
  display: none;
}

.labelWL {
  color: black;
  border: 1px solid black;
  text-align: center;
  width: 60px;
  place-items: center;
  border-radius: 15px;
  z-index: 5;
  background-color: #c8c8c8;
}

.letterInput {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.wordRow {
  width: auto;
}

.wordCtr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.letterInput {
  border: none;
  margin-bottom: 2px;
  margin: 15px;
}

.letterInput.active {
  background-color: #c4c2c2;
}

.letterInput.active:focus {
  background-color: #7a7a7a;
}

.letterInput.inactive {
  background-color: #f2f2f2;
}

.misplaced {
  background-color: #FFDE67 !important;
}

.incorrect {
  background-color: #FF6C6C !important;
}

.correct {
  background-color: #75F482 !important;
}

.pagination-ctr {
  margin: auto;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.pagi-nav {
  font-size: 50px;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
}

.navArrow {
  font-size: 50px;
  margin: 1px;
  background-color: rgb(14, 14, 14);
  height: 100%;
  color: #75F482;
}
.navArrow:hover {
  color: green;
}
.navArrow.left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navArrow.right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navArrow.disabled {
  color: rgb(0, 0, 0) !important;
}

.pageNr {
  color: #FFDE67;
  margin: 0px 10px 0px 10px;
}
.pageNr.highlight {
  color: #FF6C6C !important;
}
.pageNr.highlight:hover {
  color: red !important;
}
.pageNr:hover {
  color: yellow;
}

.stdCtr.highscores {
  margin: auto;
}

.highscores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.highscore {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(24, 24, 24);
  color: #FFDE67;
  min-width: 250px;
  max-width: 500px;
  padding: 0 20px 20px 20px;
}

.content-header {
  margin-top: 20px;
}

.content-wrapper {
  border: 0.5px solid #75F482;
  border-radius: 8px;
  padding: 5px 5px 0px 10px;
  color: #FF6C6C;
}

.navbar-custom {
  height: 150px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: wheat;
  font-size: 20px;
  border: 1px solid #727171;
  border-radius: 6px;
  max-width: 1500px;
  margin: auto;
}

.stdBtn {
  min-height: 80px;
  border-style: none;
  border-radius: 14px;
  background-color: #2b2b2b;
  color: white;
  border: none;
  font-size: 32px;
  border: 1px solid #2c2c2c;
  width: 100%;
  max-width: 600px;
  margin: 10px;
}
.stdBtn:hover {
  background-color: #4a4848;
}
@media (max-width: 600px) {
  .stdBtn {
    width: auto;
  }
}

.cancelBtn {
  background-color: #FF6C6C !important;
  color: black;
}
.cancelBtn:hover {
  background-color: #fcb4b4 !important;
}

button {
  border: 1px solid #727171;
}

.stdCtr {
  border: 1px solid #B9B9B9;
  border-radius: 6px;
  padding: 60px 20px 20px 20px;
  max-width: 1000px;
}

.header {
  font-size: 45px;
  text-align: center;
  margin: 20px;
}
