<h1 class="header">About me</h1>
<div class="stdCtr about">
    <p>My name is Daniel and I am studying a 2 year-program in system-development,
        The programming languages learned in this program are JavaScript and Java.
    </p>
</div>
