.stdCtr.highscores {
  margin: auto;
}

.highscores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.highscore {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(24, 24, 24);
  color: $c-purple;
  min-width: 250px;
  max-width: 500px;
  padding: 0 20px 20px 20px;
}

.content-header {
  margin-top: 20px;
}

.content-wrapper {
  border: 0.5px solid $c-darkGrey;
  border-radius: 8px;
  padding: 5px 5px 0px 10px;
  color: $c-lightPink;
}
