.highscores-header {
    font-size: 45px;
    margin-left: 100px;
    font-weight: bold;
}

.highscores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.highscore {
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: rgb(24, 24, 24);
    color: rgb(122, 40, 111);
    min-width: 250px;
    max-width: 500px;
    padding: 0 20px 20px 20px;
    // display: flex;
} 

.content-header {
    margin-top:20px;
}

.content-wrapper {
    border: 0.5px solid rgb(53, 53, 53);
    border-radius: 8px;
    padding: 5px 5px 0px 10px;
    color: rgb(170, 144, 164);
}