.nav-wrapper {
  display: flex;
  align-items: center;
}

.pagi-nav {
  font-size: 50px;
  background-color: rgb(24, 24, 24);
}

.navBtn {
  font-size: 50px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: darkgrey;
  &.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}