.pagination-ctr {
  margin: auto;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.pagi-nav {
  font-size: 50px;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
}

.navArrow {
  font-size: 50px;
  margin: 1px;
  background-color: rgb(14, 14, 14);
  height: 100%;
  color: rgb(93, 160, 93);
  &:hover {
    color: rgb(24, 153, 24);
  }
  &.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

    &.disabled {
      color: rgb(0, 0, 0) !important;
    }
}

.pageNr {
  color: $c-darkPurple;
  &.highlight {
    color: $c-lightPink !important;
  }
  &:hover {
    color: $c-screamingPink;
  }
  margin: 0px 10px 0px 10px;
}
