.wordLengthSelector {
    padding: 10px;
  margin-top: 20px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid $c-lightGrey;
  border-radius: 6px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}

.wordLengthBtn {
  background-color: #2b2b2b !important;
  color: white !important;
}

.dropdown-menu.show {
  min-width: inherit;
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 40px;
}

.dropdown-toggle {
  width: 60px;
}

.inputWL {
  display: none;
}

.labelWL {
  color: black;
  border: 1px solid black;
  text-align: center;
  width: 60px;
  place-items: center;
  border-radius: 15px;
  z-index: 5;
  background-color: #c8c8c8;
}
