
.stdBtn {
    height: 80px;  
    border-style: none;
    border-radius: 14px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    font-size: 32px;
    border: 1px solid #2c2c2c;
    width: 100%;
    max-width: 600px;
  }