$c-screamingPink: rgb(211, 6, 184);
$c-purple: rgb(122, 40, 111);
$c-darkPurple:  rgb(83, 60, 80);
$c-lightPink: rgb(170, 144, 164);

$c-lightYellow: #FFDE67;
$c-lightRed: #FF6C6C;
$c-lightPink: #fcb4b4;
$c-lightGreen: #75F482;

// $-flatBlack:
$c-darkGrey: rgb(53, 53, 53);
$c-lightGrey: #b9b9b9;
