$c-lightYellow: #ffde67;
$c-lightRed: #ff6c6c;
$c-lightPink: #fcb4b4;
$c-lightGreen: #75f482;
$c-mintGreen: #ccffd1;

$c-flatBlack: rgb(24, 24, 24);
$c-darkGrey: rgb(53, 53, 53);
$c-lightGrey: #b9b9b9;
$c-boneWhite: rgb(255, 250, 241);

$bp-medium: 600px;
