$c-lightYellow: #FFDE67;
$c-lightRed: #FF6C6C;
$c-lightPink: #fcb4b4;
$c-lightGreen: #75F482;
$c-mintGreen: #ccffd1;

$c-flatBlack: rgb(24, 24, 24);
$c-darkGrey: rgb(53, 53, 53);
$c-lightGrey: #b9b9b9;

$bp-medium: 600px;
