/* .repCharsSelector {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }

  .inputRC {
    display: block;
    width: 100%;
  } */