.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.navbar-custom {
    height: 150px;
}

.stdBtn {
  width: 80%;
  height: 114px;
  border-style: none;
  border-radius: 14px;
  background-color: #747070;
  color: white;
  border: none;
  font-size: 32px;
}

.mainBtn {
  align-self: flex-end;
  margin-bottom: 100px;
}

.settingsBtn {
    margin-top: auto;
}

.stdBtn:hover {
  background-color: #4a4848;
}
